src/Product.Api/bin/
src/Product.Application/bin/
src/Product.Domain/bin/
src/Product.Infrastructure/bin/
src/Product.Utilities/bin/
test/Product.UnitTests/bin/
test/Product.IntegrationTests/bin/

src/Product.Api/obj/
src/Product.Application/obj/
src/Product.Domain/obj/
src/Product.Infrastructure/obj/
src/Product.Utilities/obj/
test/Product.UnitTests/obj/
test/Product.IntegrationTests/obj/

TestResults/
tests-coverage/

.vs

frond-end/my-react-app/node_modules